{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>Portfolio</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
                <th>Date Time</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transactionname }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>${{ transaction.price }}</td>
                    <td>${{ transaction.value }}</td>
                    <td>${{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Cash Balance: {{ cash }}</h2>

    <h2>Total Portfolio Value: {{ total }}</h2>
{% endblock %}