{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-triped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date Time</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
                <tr>
                    <td>{{ t.symbol }}</td>
                    <td>{{ t.company }}</td>
                    <td>{{ t.shares }}</td>
                    <td>{{ t.price | usd }}</td>
                    <td>{{ t.tgldate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}