{% extends "layout.html" %}

{% block title %}
    Quete
{% endblock %}

{% block main %}
    {% if query %}
        <p>
            Display Information: <p></p>
            Name : {{ query.name}} <p></p>
            Symbol : ({{ query.symbol }}) <p></p>
            price: {{ query.price | usd }}
        </p>
    {% else %}
        <form action="/quote", method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
            </div>
            <p></p>
            <button class="btn btn-primary" type="submit">Quote</button>
        </form>
    {% endif %}
{% endblock %}